.loader {
    border:0dpx solid transparent;
    border-top: 5px solid white; 
    border-radius: 50%; 
    width: 190px;
    height: 190px;
    position: absolute;
    left: 50%;
    top: 47%;
    z-index: 1000;
    animation: spin 2s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}
body{
    background: linear-gradient(to right,black,#cccccc);
}